html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img.logo {
  width: 35px;
  filter: invert(100%);
}

p {
  font-weight: bold;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 275px auto;
  height: 100vh;
}

aside {
  display: grid;
  align-content: start;
  background-color: #1992d4;
  height: 100vh;
  grid-auto-rows: 50px;
}

.navigation {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding: 8px 24px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  gap: 10px;
}

.navigation:focus-within {
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.dashboard,
.communities {
  grid-row: span 2;
}

.dashboard p {
  font-size: 25px;
}

.dashboard img {
  width: 45px;
}
